@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');

html {
    scroll-behavior: smooth;
}

*
{
    margin : 0;
    padding : 0;
    box-sizing : border-box;
    text-decoration: none;
}

body {
    background-color: rgb(29, 29, 29);
}


/* navbar */
.max-width 
{
    padding: 0px 2% 0px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar 
{
    width : 100%;
    padding : 15px 0px;
    font-family: 'Ubuntu', sans-serif;
    position: fixed;
    background-color: slateblue;
    top: 1;
    transition: top 0.3s;
}
.navbar .logo a
{
    color: #fff;
    font-size : 35px;
    font-weight: 600;
}

.navbar .menu li
{
    list-style: none;
    display: inline-block;
}
.navbar .menu li a
{   
    color : #fff;
    font-size: 22px;
    font-weight: 600;
    padding: 12px;
    transition: 0.5s;
}

.navbar .menu li a:hover 
{
    color: black;
}

/* Body */

/* Texte Principal */

.milieu
{
    background : url('banner2.jpg') no-repeat center;
    height:100%;
    width:100%;
    display: flex;
    font-family: 'Poppins', sans-serif;
    padding-top: 200px;
    padding-left: 7%;
    color : white;
}

.texte {
    
    width: 100%;
    height: 540px;
}
.texte h1
{
    text-shadow: 2px 1px 2px black;
    font-size: 50px;
}

.texte h2
{
    text-shadow: 2px 1px 2px black;
    font-size: 30px;  
}


h1 span
{
    color : slateblue;
}

/* Bouton */

.milieu a 
{   
    font-family: 'Poppins', sans-serif;    
    padding: 20px 30px;  
    color : rgba(255, 255, 255, 0.4);
    background:  rgb(49, 49, 49);
    letter-spacing: 2px;
    font-size: 18px;
    transition: 0.6s;
}

.milieu a:hover 
{   
    color : rgba(255, 255, 255, 1); 
    background: slateblue;
}


.button
{
    float: right;
    padding-right: 30px;
    padding-top: 250px;
}

/* A propos */


.about
{
    font-family: 'Poppins', 'sans-serif';
    color: white;
    margin: 50px;
}

.about h1
{
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    color: white;
    font-size: 40px;
    font-weight: 900;
    padding-bottom: 20px;   
    
}

.about .trait
{
    height: 2px;
    width: 200px;
    background-color: white;
    margin : -3px auto;
}

.about span
{
    color: slateblue;
}

.about .about-content {
    padding-top: 90px;
    display: flex;
    flex-wrap: wrap;
}

.about .about-content .left img{
    width: 400px;
    height: auto;
    border-radius: 6px;
}

.about .about-content .left{
    width: 45%;
    padding-bottom: 20px;
}

.about .about-content .right{
    width: 55%;
}

.about .about-content .column
{
    flex-grow: 1;
    min-width: 420px;
}

.about p
{
    font-size: 19px;
    font-weight: 500;
    line-height: 35px;
}

.about summary
{
    font-size: 19px;
    font-weight: 500;
    color: slateblue;
}

/* Experiences */

.competences{
    font-family: 'Poppins', 'sans-serif';
    padding-bottom: 80px;
    margin: 50px;
}
.competences h1
{
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    color: white;
    font-size: 40px;
    font-weight: 900;
    padding-bottom: 20px;   
}

.competences .trait
{
    height: 2px;
    width: 320px;
    background-color: white;
    margin : -3px auto;
}

.competences .top p
{
    font-family: 'Poppins', sans-serif;
    color: white;
    font-size: 25px;  
}

.competences .top
{
    padding-top: 40px;
    display: flex;   
    justify-content: space-evenly;
}

.competences .bot
{
    padding-top: 30px;
    display: flex;  
    justify-content: space-evenly;
}

.competences .column
{
    color: white;
}

.competences .column p
{
    padding-bottom: 20px;
}


/* Projets */

.projets{
    font-family: 'Poppins', 'sans-serif';
    padding-bottom: 20px;
    color: white;
    margin: 40px;
}
.projets h1
{
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    color: white;
    font-size: 40px;
    font-weight: 900;
    padding-bottom: 20px;   
}

.projets .trait
{
    height: 2px;
    width: 200px;
    background-color: white;
    margin : -3px auto;
}

.projets .images {
    padding-top: 50px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.projets .images img {
    width: 300px;
    height: auto;
    padding-top: 12px;
}

.projets .images .column{
    width: 320px;
    padding-bottom: 20px;
}

.projets .images p
{
    padding-bottom: 20px;
}
.projets .images a 
{   
    font-family: 'Poppins', sans-serif;    
    padding: 5px 25px;  
    color : gray;
    background:  rgb(49, 49, 49);
    letter-spacing: 2px;
    font-size: 18px;
    transition: 0.6s;     
}

.projets .images a:hover 
{   
    color : rgba(255, 255, 255, 1); 
    background: slateblue;
}

/* Contact */

.contact{
    font-family: 'Poppins', 'sans-serif';
    color: white;
    margin: 70px;
}
.contact h1
{
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    color: white;
    font-size: 40px;
    font-weight: 900;
    padding-bottom: 20px;   
}

.contact .trait
{
    height: 2px;
    width: 190px;
    background-color: white;
    margin : -3px auto;
}

.contact .contactMe {
    padding-top: 50px;
    display: flex;
    justify-content: space-evenly;
}

.contact .contactMe p{
    padding-bottom: 5px;
}















